MISTRAL_API_KEY=your_mistral_api_key_here
MISTRAL_MODEL=codestral-latest
MISTRAL_TEXTURE_MODEL=mistral-medium-latest
PORT=3000
HOST=0.0.0.0
BUILD_STORE_MODE=filesystem
BUILD_STORE_DIR=.data/build-jobs
ENABLE_VERCEL_JAR_BUILD=false
BLOB_READ_WRITE_TOKEN=your_vercel_blob_token_here
BLOB_STORE_ACCESS=public
